@using EntityLayer.Concrete

<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Sepete Ekle
</button>

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Renk ve Beden Seçiniz</h1>
            </div>
            <form asp-controller="ShopCart" asp-action="AddShop" asp-route-id="@ViewBag.id" asp-route-color="Color" asp-route-size="Size">
                <div class="modal-body">
                    <div class="col">
                        <text>Renk</text>
                        <select name="Color" class="form-select">
                            @foreach (var item in ViewBag.Colors)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                    <br />
                    <label>Beden</label>
                    <select name="Size" class="form-select">
                        @foreach (var item in ViewBag.Size)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Sepete Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>