@using EntityLayer.Concrete
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Comment>

@{
    ViewData["Title"] = "AdminComment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        function showComment(id) {
            $.ajax({
                type: "Get",
                url: "/Comment/AdminCommentGet/",
                data: { id: id },
                success: function (data) {
                    $("#show").html("");
                    $("#show").append(data);
                },
                error: function (e) {
                    console.log(e);
                }
            })
        };
    </script>
}

<h1>Yorumlar</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad Soyad</th>
            <th>Ürün</th>
            <th>Yorum</th>
            <th>Tarih</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CommentId</td>
                <td>@item.User.UserName @item.User.UserSurname</td>
                <td>@item.Product.ProductName</td>
                <td>
                    @(item.Content.Length > 20 ? item.Content.Substring(0, 20)+"..." : item.Content)
                </td>
                <td>@(((DateTime)item.CreatedDate).ToString("dd-MMM-yyyy"))</td>
                <td class="text-center">
                    @{
                        if (item.CommentStatus)
                        {
                            <a asp-action="DeleteComment" asp-route-id="@item.CommentStatus" class="btn btn-danger text-dark">Pasif Yap</a>
                        }
                        else
                        {
                            <a asp-action="DeleteComment" asp-route-id="@item.CommentStatus" class="btn btn-success text-dark">Aktif Yap</a>
                        }
                    }
                </td>
                <td>
                    <i onclick="showComment(@item.CommentId)" class="bx bxs-info-circle" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor:pointer"></i>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Yorum</h1>
            </div>
            <div class="modal-body" id="show">
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
@Html.PagedListPager((IPagedList)Model, p => Url.Action("AdminComment", new { p }), new X.PagedList.Web.Common.PagedListRenderOptions
{
    LiElementClasses = new List<string>
            {"page-link"}
})