@using EntityLayer.Concrete
@model List<Image>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    string active = "active";
}
@section Scripts{
    <script type="text/javascript">
        function getInfo(id) {
            document.getElementById("productid").value = id;
            $.ajax({
                type: "Get",
                url: "/Default/SizeColor",
                data: { id: id },
                success: function (data) {
                    $("#color").html("");
                    $("#size").html("");
                    data.color.forEach(function (item) {
                        $("#color").append(`<option value="${item}">${item}</option>`);
                    });
                    data.size.forEach(function (item) {
                        $("#size").append(`<option value="${item}">${item}</option>`);
                    });
                },
                error: function (e) {
                    console.log(e);
                }
            })
        };
        $("#AddShop").click(function () {
            var color = $("#color").val();
            var size = $("#size").val();
            var id = parseInt($("#productid").val());
            var jsonData = { "id": id, "color": color, "size": size };
            $.ajax({
                type: "Post",
                url: "/ShopCart/AddShop",
                data: jsonData,
                success: function (data) {
                    alert("Ürün Sepete Eklenmiştir");
                },
                error: function (e) {
                    console.log(e);
                }
            })
        })
    </script>
}
@section Css{
    <style>
        .zoom:hover {
            box-shadow: 15px 15px 25px 5px #b6b6b6;
            /*transform: scale(1.2);*/
        }

        .akerdion {
            margin: 2px;
            padding: 1.04%;
        }

        .ozet {
            font-family: 'Lucida Handwriting';
            cursor: pointer;
            margin: -1%;
            padding: 8px 10px;
        }

        .item {
            font-family: cursive;
        }

        b {
            font-family: Rockwell;
        }

        label {
            font-family: 'Cambria Math';
        }

        .cate {
            font-family: 'Courier New';
        }
        #main {
            width:32% !important
        }
        #show {
            display: none
        }

        #main:hover #show {
            display: block
        }

        @@media only screen and (max-width: 500px) {
            .cate {
                font-size: 80% !important;
            }
            #add {
                width: 100% !important;
                font-size: 65% !important;
            }
        }
        @@media only screen and (max-width: 860px) {
            #main {
                width: 46% !important;
            }
        }
    </style>
}

<div id="myCarousel" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
        @foreach (var item in ViewBag.campaign as List<Campaign>)
        {
            <div class="carousel-item @active bg-secondary p-2">
                <div class="row justify-content-center">
                    <div class="col-5 bg-light">
                        <a asp-action="Single" asp-route-cid="@item.CampaignId">
                            <img src="~/img/@item.ProductImage" class="d-block w-100" alt="...">

                        </a>
                    </div>
                    <div class="col-4 bg-light">
                        <label class="fs-1"><b>@item.Brand</b></label>
                        <label class="fs-3"> @item.ProductName</label>
                        <h5 class="text-muted">@item.ProductCategory</h5>
                        <br />
                        <p class="fs-1"><del class="text-danger">@item.OldPrice TL</del> Yerine <label class="text-success">@item.NewPrice TL</label></p>
                        <p class="fs-5"><b>Son Gün: </b>@(((DateTime)item.LastDay).ToString("dd MMMM"))</p>
                    </div>
                </div>
            </div>
            {
                active = "";
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-9 ps-5">
            <h2 class="text-center" style="font-family: 'Comic Sans MS' ">Ürünler</h2>
            <div class="row mb-1">
                @foreach (var item in Model)
                {
                    <div class="me-2 mt-2 border bordered zoom" id="main">
                        <div class="row-cols-fluid-4 p-2">
                            <div class="col mb-1 border border-dark">
                                <div>
                                    <a asp-controller="Default" asp-action="Single" asp-route-id="@item.ProductId">
                                        <img src="~/img/@item.ImageUrl" width="100%" />
                                    </a>
                                </div>
                            </div>
                            <div class="col text-center pt-2 text-danger">
                                <p class="border-bottom bordered pb-1">@item.Product.Price TL</p>
                            </div>
                            <div class="col text-center">
                                <div class="col">
                                    <b>@item.Product.Brand.BrandName</b>
                                    <div id="show">
                                        <label>@item.Product.ProductName</label>
                                    </div>
                                </div>
                                <div class="col cate">@item.Product.ProductCategory.ProductCategoryName</div>
                                <div class="col mt-2">
                                    <input type="button" onclick="getInfo(@item.ProductId)" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#SizeColor" id="add" value="Sepete Ekle" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-3 mt-2">
            <div class="rowrow-cols-fluid-2 p-2">
                <div class="col dropdown">
                    <details class="akerdion border-bottom">
                        <summary class="ozet text-center">KATEGORİLER</summary>
                        @foreach (var item in ViewBag.category as List<ProductCategory>)
                        {
                            <a class="dropdown-item ps-2 item" asp-controller="Default" asp-action="Index" asp-route-f="@item.ProductCategoryName">@item.ProductCategoryName</a>
                        }
                    </details>
                </div>
                <div class="col dropdown">
                    <details class="akerdion border-bottom">
                        <summary class="ozet text-center">MARKALAR</summary>
                        @foreach (var item in ViewBag.brand as List<Brand>)
                        {
                            <a class="dropdown-item ps-2 item" asp-controller="Default" asp-action="Index" asp-route-f="@item.BrandName">@item.BrandName</a>
                        }
                    </details>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="SizeColor" tabindex="-1" aria-labelledby="SizeColorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Renk ve Beden Seçiniz</h1>
            </div>
            <form id="myform">
                <input type="hidden" name="Productid" id="productid" value="0" />
                <div class="modal-body">
                    <div class="col">
                        <text>Renk</text>
                        <select name="Color" class="form-select" id="color">
                        </select>
                    </div>
                    <br />
                    <label>Beden</label>
                    <select name="Size" class="form-select" id="size">
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary" id="AddShop">Sepete Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>