@using EntityLayer.Concrete
@model Image

@{
    ViewData["Title"] = "Single";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    string active = "active";
}
@section Css{
    <style>
        #comment {
            display: none
        }
        #info {
            display: block
        }
    </style>
}
@section Scripts{ 
<script type="text/javascript">
    function comment() {
        $("#comment").css("display", "block");
        $("#info").css("display", "none");
    }
    function info() {
        $("#comment").css("display", "none");
        $("#info").css("display", "block");
    }
</script>
}
<div class="container">
    <div class="row border">
        <div class="col p-3">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                    @foreach (var item in ViewBag.imgs as List<Image>)
                    {
                        <div class="carousel-item @active p-5">
                            <img src="~/img/@item.ImageUrl" class="d-block w-100" alt="...">
                        </div>
                        {
                            active = "";
                        }
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col">
            <form asp-controller="ShopCart" asp-action="AddShop" asp-route-id="@Model.ProductId" asp-route-price="@Model.Product.Price" method="post">
                <div class="row-fluid-cols-6">
                    <div class="col">
                        <div class="row">
                            <div class="col-auto"><label class="fs-1 fw-bold p-0">@Model.Product.Brand.BrandName</label></div>
                            <div class="col-auto"><label class="fs-2 pt-2"> @Model.Product.ProductName</label></div>
                        </div>
                    </div>
                    <div class="col"><text class="text-danger">Satıcı: </text>@Model.Product.Brand.BrandName</div>
                    <div class="col mt-1"><b>@Model.Product.Price TL</b></div>
                    <div class="col mt-3">
                        <div class="row-fluid-cols-2">
                            <div class="col">
                                <h6>Renkler</h6>
                            </div>
                            <div class="col">
                                <select name="Color" class="form-select">
                                    @foreach (var item in ViewBag.Colors)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="row-fluid-cols-2">
                            <div class="col">
                                <h6>Numaralar</h6>
                            </div>
                            <div class="col">
                                <select name="Size" class="form-select">
                                    @foreach (var item in ViewBag.Size)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col text-end mt-4">
                        <button type="submit" class="btn btn-success">Sepete Ekle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col mt-3">
        <table class="table table-bordered" width="100%">
            <thead class="bg-secondary text-center">
                <tr style="width:100%">
                    <td width="50%">
                        <a onclick="info()" style="cursor:pointer" class="text-decoration-none text-light">Ürün Açıklama</a>
                    </td>
                    <td width="50%">
                        <a onclick="comment()" style="cursor: pointer" class="text-decoration-none text-light">Yorumlar</a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" height="300px">
                        <div id="info">
                            <vc:product-info id="@Model.ProductId"></vc:product-info>
                        </div>
                        <div id="comment">
                            @foreach (var item in ViewBag.comments as List<Comment>)
                            {
                                <div class="col border m-2">
                                    <div class="row-fluid-cols-2 p-2">
                                        <div class="col border-bottom">
                                            <div class="row">
                                                <div class="col-3">
                                                    <b>@item.User.UserName @item.User.UserSurname</b>
                                                </div>
                                                <div class="col-9 text-end">
                                                    <label>@(((DateTime)item.CreatedDate).ToString("dd-MMM-yyyy"))</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col pt-2">
                                            @item.Content
                                        </div>
                                    </div>
                                </div>
                            }
                            <vc:comment id="@Model.ProductId"></vc:comment>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col text-center mt-3 p-3">
        <div class="row justify-content-center">
            <h5>Diğer Ürünler</h5>
            @foreach (var item in ViewBag.products as List<Image>)
            {
                <div class="col-3 me-1 border">
                    <div class="row-fluid p-2">
                        <div class="col mb-1 border border-dark">
                            <a asp-controller="Default" asp-action="Single" asp-route-id="@item.ProductId">
                                <img src="~/img/@item.ImageUrl" width="100%" />
                            </a>
                        </div>
                        <div class="col text-center pt-2 text-danger">
                            <p class="border-bottom bordered pb-1">@item.Product.Price TL</p>
                        </div>
                        <div class="col text-center">
                            <div class="col "><b>@item.Product.Brand.BrandName</b> @item.Product.ProductName</div>
                            <div class="col">@item.Product.ProductCategory.ProductCategoryName</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>