@using EntityLayer.Concrete 
@model EntityLayer.Concrete.Image

@{
    ViewData["Title"] = "Single";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container">
    <div class="row border">
        <div class="col p-3">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    @for (int i = 0; i < ViewBag.imgs.Count; i++)
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i"
                                class="active bg-dark" aria-current="true" aria-label="Slide @i"></button>
                    }
                </div>
                <div class="carousel-inner">
                    @foreach (var item in ViewBag.imgs as List<Image>)
                    {
                        <div class="carousel-item active">
                            <img src="~/img/@item.ImageUrl" class="d-block w-100" alt="...">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col">
            <div class="row-fluid-cols-6">
                <div class="col">
                    <div class="row">
                        <div class="col-auto"><p class="fs-1 fw-bold p-0">@Model.Product.Brand.BrandName</p></div>
                        <div class="col-auto"><p class="fs-2 pt-2"> @Model.Product.ProductName</p></div>
                    </div>
                </div>
                <div class="col"><text class="text-danger">Satıcı: </text>@Model.Product.Brand.BrandName</div>
                <div class="col mt-1"><b>@Model.Product.Price TL</b></div>
                <div class="col mt-3">
                    <div class="row-fluid-cols-2">
                        <div class="col">
                            <h6>Renkler</h6>
                        </div>
                        <div class="col">
                            <select class="form-select" asp-items="@ViewBag.Colors"></select>
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="row-fluid-cols-2">
                        <div class="col">
                            <h6>Numaralar</h6>
                        </div>
                        <div class="col">
                            <select class="form-select" asp-items="@ViewBag.Numbers"></select>
                        </div>
                    </div>
                </div>
                <div class="col text-end mt-4">
                    <button class="btn btn-success">Sepete Ekle</button>
                </div>
            </div>
        </div>
    </div>
    <p class="fw-light mt-3">Ürün Açıklama ve yorum ayrı ayrı gösterilecek</p>
    <div class="col mt-3 border border-dark">
        <div class="container-fluid">
            <div class="row-fluid-cols-2">
                <div class="row text-center">
                    <div class="col bg-secondary text-light border-3 border-dark border-end border-bottom">
                        Ürün
                        Açıklama
                    </div>
                    <div class="col bg-secondary text-light border-3 border-dark border-bottom">Yorumlar</div>
                </div>
                <div class="row-fluid-cols-2">
                    <div class="col">
                        <ul class="nav flex-column">
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem, ipsum dolor.</li>
                        </ul>
                    </div>
                    <div class="col border m-2">
                        <div class="row">
                            <div class="col-md-2 pt-2 text-center">
                                <img src="./img/face3.png" class="rounded-circle border border-dark" width="80px">
                            </div>
                            <div class="col-md-10">
                                <div class="row-fluid-cols-2">
                                    <div class="col"><b>Name Surname</b></div>
                                    <div class="col">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Veritatis commodi, doloremque suscipit enim, dolorum ea necessitatibus
                                        veniam quia, sapiente officiis repudiandae eveniet consequuntur! Beatae
                                        laboriosam eligendi accusantium nesciunt quibusdam quae!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col border m-2">
                        <div class="row">
                            <div class="col-md-2 pt-2 text-center">
                                <img src="./img/face3.png" class="rounded-circle border border-dark" width="80px">
                            </div>
                            <div class="col-md-10">
                                <div class="row-fluid-cols-2">
                                    <div class="col"><b>Name Surname</b></div>
                                    <div class="col">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Veritatis commodi, doloremque suscipit enim, dolorum ea necessitatibus
                                        veniam quia, sapiente officiis repudiandae eveniet consequuntur! Beatae
                                        laboriosam eligendi accusantium nesciunt quibusdam quae!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mt-3 p-3">
        <h5>Diğer Ürünler</h5>
        <div class="row">
            <div class="col me-1 border">
                <div class="row-fluid p-2">
                    <div class="col mb-1 border border-dark">
                        <img src="./img/a1.png" width="100%" />
                    </div>
                    <div class="col text-center pt-2 text-danger">
                        <p class="border-bottom bordered pb-1">100 TL</p>
                    </div>
                    <div class="col text-center">
                        <div class="col ">Hummel Spor</div>
                        <div class="col">Aykkabı</div>
                    </div>
                    <div class="col text-center mt-2">
                        <button type="submit" class="btn btn-success">Sepete Ekle</button>
                    </div>
                </div>
            </div>
            <div class="col me-1 border">
                <div class="row-fluid p-2">
                    <div class="col mb-1 border border-dark">
                        <img src="./img/a2.png" width="100%" />
                    </div>
                    <div class="col text-center pt-2 text-danger">
                        <p class="border-bottom bordered pb-1">200 TL</p>
                    </div>
                    <div class="col text-center">
                        <div class="col ">Adidas Spor</div>
                        <div class="col">Aykkabı</div>
                    </div>
                    <div class="col text-center mt-2">
                        <button type="submit" class="btn btn-success">Sepete Ekle</button>
                    </div>
                </div>
            </div>
            <div class="col me-1 border">
                <div class="row-fluid p-2">
                    <div class="col mb-1 border border-dark">
                        <img src="./img/a3.png" width="100%" />
                    </div>
                    <div class="col text-center pt-2 text-danger">
                        <p class="border-bottom bordered pb-1">300 TL</p>
                    </div>
                    <div class="col text-center">
                        <div class="col ">Nike Spor</div>
                        <div class="col">Aykkabı</div>
                    </div>
                    <div class="col text-center mt-2">
                        <button type="submit" class="btn btn-success">Sepete Ekle</button>
                    </div>
                </div>
            </div>
            <div class="col me-1 border">
                <div class="row-fluid p-2">
                    <div class="col mb-1 border border-dark">
                        <img src="./img/a1.png" width="100%" />
                    </div>
                    <div class="col text-center pt-2 text-danger">
                        <p class="border-bottom bordered pb-1">100 TL</p>
                    </div>
                    <div class="col text-center">
                        <div class="row-fluid-cols-2">
                            <div class="col ">Hummel Spor</div>
                            <div class="col">Aykkabı</div>
                        </div>
                    </div>
                    <div class="col text-center mt-2">
                        <button type="submit" class="btn btn-success">Sepete Ekle</button>
                    </div>
                </div>
            </div>
            <div class="col me-1 border">
                <div class="row-fluid p-2">
                    <div class="col mb-1 border border-dark">
                        <img src="./img/a2.png" width="100%" />
                    </div>
                    <div class="col text-center pt-2 text-danger">
                        <p class="border-bottom bordered pb-1">200 TL</p>
                    </div>
                    <div class="col text-center">
                        <div class="row-fluid-cols-2">
                            <div class="col ">Adidas Spor</div>
                            <div class="col">Aykkabı</div>
                        </div>
                    </div>
                    <div class="col text-center mt-2">
                        <button type="submit" class="btn btn-success">Sepete Ekle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>