@using EntityLayer.Concrete
@model User

@*<i class="bx bxs-info-circle" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>*@

<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Kullanıcı Bilgileri</h1>
            </div>
            <div class="modal-body">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Telefon: </b>@Model.UserPhone</li>
                        <li class="list-group-item"><b>Adres: </b>@Model.UserAdress</li>
                    </ul>
                </div>
                <br />
                <div class="card">
                    <div class="card-header bg-warning">
                        <b>Sepet İçeriği</b>
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var item in ViewBag.Shopcart as List<ShopCart>)
                        {
                            <li class="list-group-item">@item.ShopCartProductName - @item.ShopCartProductSize - @item.ShopCartProductColor - @item.ShopCartProductPrice</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>