@using EntityLayer.Concrete
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Scripts{
    <script type="text/javascript">
        function getInfo(id) {
            $.ajax({
                type: "Get",
                url: "/User/GetInfo",
                data: { id: id },
                success: function (data) {
                    $("#info").html("");
                    $.each(data, function (index, item) {
                        let infos = `<li class="list-group-item"><b>Telefon: </b>${item.userPhone}</li>
                                     <li class="list-group-item"><b>Adres: </b>${item.userAdress}</li>`;
                        $("#info").append(infos);
                    });
                },
                error: function (e) {
                    console.log(e);
                }
            }).always(function () {
                $.ajax({
                    type: "Get",
                    url: "/User/GetShopInfo",
                    data: { id: id },
                    success: function (data) {
                        $("#shop").html("");
                        $.each(data, function (index, item) {
                            let infos = `<li class="list-group-item">
                                                    ${item.shopCartProductName} - ${item.shopCartProductSize} - ${item.shopCartProductColor} - ${item.shopCartProductPrice}
                                          </li>`;
                            $("#shop").append(infos);
                        });
                    },
                    error: function (e) {
                        console.log(e);
                    }
                })
            })
        };
    </script>
}

<h1>Kullancılar</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad Soyad</th>
            <th>Mail</th>
            <th>Parola</th>
            <th>Durum</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.UserName @item.UserSurname</td>
                <td>@item.UserMail</td>
                <td>@item.UserPassword</td>
                <td>@item.UserStatus</td>

                <td class="text-center">
                    @{
                        if (item.UserStatus)
                        {
                            <a asp-action="DeleteUser" asp-route-id="@item.UserId" class="btn btn-danger text-dark">Pasif Yap</a>
                        }
                        else
                        {
                            <a asp-action="DeleteUser" asp-route-id="@item.UserId" class="btn btn-success text-dark">Aktif Yap</a>
                        }
                    }
                </td>
                <td>
                    <i onclick="getInfo(@item.UserId)" class="bx bxs-info-circle" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor:grab"></i>
                    @*<button onclick="getInfo(@item.UserId)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="border-0">a</button>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Kullanıcı Bilgileri</h1>
            </div>
            <div class="modal-body">
                <div class="card">
                    <ul id="info" class="list-group list-group-flush">
                    </ul>
                </div>
                <br />
                <div class="card">
                    <div class="card-header bg-warning">
                        <b>Sepet İçeriği</b>
                    </div>
                    <ul id="shop" class="list-group list-group-flush"></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

@Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", new { p }), new X.PagedList.Web.Common.PagedListRenderOptions
{
    LiElementClasses = new List<string>
            {"page-link"}
})