@using EntityLayer.Concrete
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Ürünler</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Fiyatı</th>
            <th>Stock</th>
            <th>Durum</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>
                    @(item.ProductName.Length>20? item.ProductName.Substring(0,20)+"...":item.ProductName)
                </td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.ProductStatus</td>
                <td class="text-center">
                    @{
                        if (item.ProductStatus)
                        {
                            <a asp-action="DeleteProduct" asp-route-id="@item.ProductId" class="btn btn-danger text-dark">Pasif Yap</a>
                        }
                        else
                        {
                            <a asp-action="DeleteProduct" asp-route-id="@item.ProductId" class="btn btn-success text-dark">Aktif Yap</a>
                        }
                    }
                </td>
                <td>
                    <vc:product id="@item.ProductId" type="2"></vc:product>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", new { p }), new X.PagedList.Web.Common.PagedListRenderOptions
{
    LiElementClasses = new List<string>
            {"page-link"}
})
<vc:product id="0" type="1"></vc:product>