@using EntityLayer.Concrete
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        function getInfo(id) {
            $.ajax({
                dataType: 'text',
                type: "Get",
                url: "/Product/GetInfoProduct/",
                data: { id: id },
                success: function (data) {
                    $("#info").html("");
                    let datas = jQuery.parseJSON(data);
                    let infos = `<li class="list-group-item"><b>Ürün Ad: </b>${datas.Name}</li>
                                <li class="list-group-item"><b>Marka: </b>${datas.Brand}</li>
                                <li class="list-group-item"><b>Beden: </b>${datas.Size}</li>
                                <li class="list-group-item"><b>Renk: </b>${datas.Color}</li>`;
                    $("#info").append(infos);
                },
                error: function (e) {
                    console.log(e);
                }
            }).always(function () {
                $.ajax({
                    type: "Get",
                    url: "/Product/GetImageProduct/",
                    data: { id: id },
                    success: function (data) {
                        $("#image").html("");
                        $.each(data, function (index, item) {
                            let images = `<div class="col-4">
                                            <img src="/img/${item.imageUrl}" style="width:100%"></img>
                                          </div>`;
                            $("#image").append(images);
                        });
                    },
                    error: function (e) {
                        console.log(e);
                    }
                })
            })
        };
    </script>
}

<h1>Ürünler</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Fiyatı</th>
            <th>Stock</th>
            <th>Durum</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>
                    @(item.ProductName.Length>20? item.ProductName.Substring(0,20)+"...":item.ProductName)
                </td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.ProductStatus</td>
                <td class="text-center">
                    @{
                        if (item.ProductStatus)
                        {
                            <a asp-action="DeleteProduct" asp-route-id="@item.ProductId" class="btn btn-danger text-dark">Pasif Yap</a>
                        }
                        else
                        {
                            <a asp-action="DeleteProduct" asp-route-id="@item.ProductId" class="btn btn-success text-dark">Aktif Yap</a>
                        }
                    }
                </td>
                <td>
                    <i onclick="getInfo(@item.ProductId)" class="bx bxs-info-circle" data-bs-toggle="modal" data-bs-target="#getInfoModal" style="cursor:grab"></i>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" id="getInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Ürün Bilgileri</h1>
            </div>
            <div>
                <div class="modal-body">
                    <div class="card">
                        <ul class="list-group list-group-flush" id="info">
                        </ul>
                    </div>
                    <br />
                    <div class="card">
                        <div class="container">
                            <h3>Ürün Resimleri</h3>
                            <div class="row" id="image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

@Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", new { p }), new X.PagedList.Web.Common.PagedListRenderOptions
{
    LiElementClasses = new List<string>
            {"page-link"}
})
<vc:product id="0" type="1"></vc:product>